.product-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 13px auto;
}

.product-list button {
  padding: 0;
  border: 0;
  background-color: white;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 0;
  margin-bottom: 12px;
}

.product-info {
  width: 80%;
  margin-left: 10px;
}

.cart-title {
  font-weight: 600;
  margin: 10px 0;
}

#cart-section {
  border: 2px solid rgba(211, 211, 211, 0.75);
  border-radius: 5px;
  padding: 10px 12px 15px 12px;
  height: fit-content;
}

.img-container {
  text-align: center;
  padding: 0;
  width: 20%;
}

.product-name {
  margin-right: 5px;
}

.product-quantity {
  padding: 0 10px;
}

.cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 12px;
}