.checkout {
  margin: 1.8rem 0;
}

.checkoutTitle {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
}

.progressContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1.6rem 0;
  max-width: 640px;
}

.step {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
}

.progressBar {
  flex: 1;
  height: 3px;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.25);
  &:global(.active) {
    background-color: black;
  }
}

.number {
  display: flex;
  color: rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  &:global(.active) {
    color: white;
    border: 0;
    background-color: black;
  }
  &:global(.done) {
    color: transparent;
    text-shadow: 0 0 0 white;
  }
}
