#header {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: white;
}

.header-container {
  margin: 5px auto;
  padding: 0 0.75rem;
  width: 100%;
}

.logo {
  margin-left: 20px;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  color: black;
}
